<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Add New List</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="dismissModal()">Close</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form [formGroup]="todoListForm">
    <ion-grid>
      <ion-row class="ion-justify-content-center">
        <ion-col size="11">
          <ion-list>

            <ion-list-header mode="ios" lines="full">
              <ion-label>Title</ion-label>
            </ion-list-header>
            <ion-item>
              <ion-label position="floating">Select a title for your todo list</ion-label>
              <ion-input id="todo-list-title" formControlName="title"></ion-input>
            </ion-item>

            <ion-list-header mode="ios">
              <ion-label>Color</ion-label>
            </ion-list-header>
            <ion-item lines="none">
              <ion-chip *ngFor="let color of colors; let i = index"
                        (click)="setTodoListColor(color)"
                        color="{{ color }}">
                <ion-label color="{{ color }}">{{i + 1}}</ion-label>
              </ion-chip>
            </ion-item>

            <ion-list-header mode="ios">
              <ion-label>Todos</ion-label>
            </ion-list-header>
            <ion-item>
              <ion-label>Select todos for your list</ion-label>
              <ion-select multiple="true" cancelText="Cancel" okText="Select" formControlName="todos">
                <ion-select-option *ngFor="let todo of (todos$ | async)"
                                   value="{{ todo.id }}"
                >
                  {{ todo.title }}
                </ion-select-option>
              </ion-select>
            </ion-item>

          </ion-list>
        </ion-col>
      </ion-row>
    </ion-grid>
  </form>

  <ion-button
    (click)="addTodoList(todoListForm)"
    size="large" expand="block" style="margin: 10px; position: fixed; left: 0; bottom: 0px; right: 0;">
    <ion-icon slot="start" name="add-outline"></ion-icon>
    Todo List
  </ion-button>

</ion-content>
