<ng-container *ngIf="(todoList$ | async) as todoList">
  <ion-header class="ion-no-border">
    <ion-toolbar color="{{ todoList.color }}">
      <ion-buttons slot="start">
        <ion-back-button [text]="buttonLabel"></ion-back-button>
      </ion-buttons>
    </ion-toolbar>
    <ion-toolbar color="{{ todoList.color }}">
      <ion-title>{{ todoList.title }}</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-content color="{{ todoList.color }}">
    <ion-grid class="ion-margin-top"
    >
      <ion-row class="ion-justify-content-center">
        <ion-col *ngFor="let todo of todoList.todos"
                 size="11"
                 class="ion-margin-top"
        >
          <app-todo-card [todo]="todo">
          </app-todo-card>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-content>
</ng-container>

