<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>My Lists</ion-title>
    <ion-title size="small">Overview Of Everything</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Home</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-grid *ngIf="canRender">
    <ion-row >
      <ion-col *ngFor="let item of mainList" size="12" class="ion-margin-top">
        <app-todo-list-card
          [title]="item.title"
          [description]="item.description"
          [date] = "item.date"
          [startTime] = "item.start_time"
          [endTime] = "item.end_time"

        >
      </app-todo-list-card>

      <ion-row>
        <ion-col *ngFor="let list of item.sub_tasks" size="11" class="ion-margin-top">
          <app-todo-list-card [title]="list.task">
          </app-todo-list-card>
        </ion-col>
      </ion-row>

      </ion-col>

    </ion-row>
    
  </ion-grid>

  <ion-fab (click)="presentModal()" vertical="bottom" horizontal="center" slot="fixed">
    <ion-fab-button>
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>
