<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>My Lists</ion-title>
    <ion-title size="small">Overview Of Everything</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Home</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-grid *ngIf="canRender">
    <ion-row>
      <ion-col *ngFor="let item of mainList" size="12">
        <app-todo-list-card
          [title]="item.title"
        >
      </app-todo-list-card>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col *ngFor="let list of otherLists" size="11">
        <app-todo-list-card
          [title]="list.title"
          [resolvedTasks]="list.resolvedTasks"
          [totalTasks]="list.totalTasks"
          [progress]="list.progress"
        ></app-todo-list-card>
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-fab (click)="presentModal()" vertical="bottom" horizontal="center" slot="fixed">
    <ion-fab-button>
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>
