<ion-card (click)="navigateToTodoList(todoList.id)"
          button="true"
          mode="ios"
          class="ion-no-margin ion-margin-horizontal float:left"
          color="{{ todoList.color }}"
>
  <ion-card-header>
    <ion-item color="{{ todoList.color }}" lines="none">
      <ion-card-title>{{ todoList.title }}</ion-card-title>
    </ion-item>
  </ion-card-header>
  <ion-card-content>
    <ion-text>{{ description }}</ion-text>
    <ion-progress-bar color="medium" value="{{ progress }}"></ion-progress-bar>
  </ion-card-content>
</ion-card>
