<ion-header>
  <ion-toolbar>
    <ion-row>
      <ion-title>{{title}}</ion-title>
      <ion-button (click)='goBack()' > Fertig</ion-button>
    </ion-row>
  </ion-toolbar>
</ion-header>

<ion-content>

    <ion-item>
      <ion-label position="floating">Titel</ion-label>
      <ion-input value={{title}}></ion-input>
    </ion-item>
    <ion-item-divider></ion-item-divider>

    <ion-item>
      <ion-label position="floating">Beschreibung</ion-label>
      <ion-input value={{description}}></ion-input>
    </ion-item>
    <ion-item-divider></ion-item-divider>

    <!--<ion-item>
      <ion-label position="floating">Datum</ion-label>
      <ion-datetime value={{date}} display-timezone="cet"></ion-datetime>
    </ion-item>
    <ion-item-divider></ion-item-divider>-->

    <ion-item>
      <ion-label position="floating">Start Zeit</ion-label>
      <ion-datetime value={{startTime}} display-timezone="cet"></ion-datetime>
    </ion-item>
    <ion-item-divider></ion-item-divider>

    <ion-item>
      <ion-label position="floating">End Zeitpunkt</ion-label>
      <ion-datetime value={{endTime}} display-timezone="cet"></ion-datetime>
    </ion-item>
    <ion-item-divider></ion-item-divider>

    <ion-item>
      <ion-label position="floating">Ort</ion-label>
      <ion-input value={{location}}></ion-input>
    </ion-item>
    <ion-item-divider></ion-item-divider>

    

</ion-content>
